@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

form {
    padding: 15px;
    margin: 0 auto;
}